@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.card-header {
    background-color: rgb(144, 160, 241);
    justify-content: center;
    padding: 30px;
    /* margin: 20px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border:
}
.video-container {
    width: 100%;
    max-width: 480px;
    margin-bottom: 20px;
}
.main-container {
    margin-top: 138px;
    background-color: aqua;
    padding: 10px;
    align-items: center;
}

.upload-video-container {
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    padding: 30px;
}

.upload-video {
    justify-content: center;
    align-items: center;
}

.submit-btn {
    margin: 20px;
    width: 120px;
    justify-content: center;
}